/* Reset default body styles */
body{
  padding: 0rem;
  margin: 0rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Reset default list styles */
nav ul {
  list-style: none;
  padding: 0.5rem;
  margin: 0;
}

/* Toggle button */
.main {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

/* Style in dark mode */  
.dark-mode {
  background-color: black;
  color: white;
}

/* Style the navigation bar */
nav {
  background-color:#20120d; /* Set background color */
  text-align: center; /* Center align the items */
}

  /* Style the list items */
  nav li {
    display: inline; /* Display items horizontally */
    margin: 0 1rem; /* Add spacing between items */
  }

/* Style the links */
nav a {
  text-decoration: none; /* Remove underline from links */
  color: #fff; /* Set text color */
  font-weight: bold; /* Make text bold */
}

/* Change link color on hover */
nav a:hover {
  color: #edc795; /* Change text color on hover */
}

/* */
header{
  height: 100vh;
  background-repeat: no-repeat;

  background-size: cover;
  background-position: center;
  background-image: url("../images/header-image.jpg"); 
  overflow: hidden;

  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
}

h1{
  margin-top: 5rem;
  font-family: 'Patua One', serif;
  font-size: 100px;
}

.cta{
  padding: 0.5rem;
  background-color: white;
  color: #20120d;
  text-align: center;
  border-radius: 2rem;
  font-size: 20px;
  font-weight: bold;
  border:3px solid #20120d;
}

.cta:hover{
  color:  #edc795;
  background-color: #20120d;
}

/* Style h2 text */
h2{
  text-align: center;
  font-size: 30px;
}

p{
  font-size: 20px;
  padding: 1rem;
}

#gallery-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  padding: 1rem;
}

img{
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;

  border-radius: 1rem;
}

/* Style footer */
.copy{
  text-align: center;
  font-size: 15px;
}

body {
  font-family: 'Lato', sans-serif;
}

.collapsible {
  background-color: #edc795;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
}

.active, .collapsible:hover {
  background-color: #20120d;
  color: white;
}

/* Responsive styles for larger screens */
@media screen and (width > 50rem){
  #gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 1rem;
  }
}